body {
  font-family: "M PLUS Rounded 1c", serif;
  background-color: #000022;
  h1 {
    text-align: center;
    font-size: 1.5rem;
    width: 20%;
    text-transform: uppercase;
    padding: 10px 2rem 10px;
    border-bottom: 5px solid;
    margin: 0 auto;
    color: rgba(#fff, 0.8);
  }
}
.alert {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0);
  color: #000022;
  font-size: 1.5rem;
  pointer-events: none;
  z-index: 100;
  padding: 1em;
  background: rgba(white, 0.8);
  border-radius: 0.5em;
  white-space: nowrap;
}
