.generator {
  width: 50vmin;
  height: 50vmin;
  border: 2px dashed rgba(white,0.4);
  margin: 30px auto;
  position: relative;

  &__shape {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(45deg, #3023AE 0%, #FF0099 100%);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: -10vmin 10vmin 0 rgba(255,255,255,0.07);

    //&--8v {
    //  border-radius: 10%;
    //  background-image: linear-gradient(-225deg, white 0%, rgba(white, 0) 40%, rgba(0,255,255, 0) 60%, #0ff 100%), linear-gradient(45deg, #3023AE 0%, #FF0099 100%);
    //}
  }

  &__handle {
    position: absolute;
    cursor: pointer;
    width: 1rem;
    height: 1rem;

    &:before {
      content: "";
      position: absolute;
      background-color: white;
      width: 0.8rem;
      height: 0.8rem;
      left: 0;
      top: 0;
      border:2px solid #000022;
      transition: box-shadow 0.2s ease-out;
      will-change: box-shadow;
    }

    &:hover:before {
      background: #0ff;
      box-shadow: 0 0 0 4px #FFF;
      border: 2px solid #000022;
    }

  }

  #left {
    left: -0.6rem;
    bottom: -0.6rem;
  }
  #top {
    left: -0.6rem;
    top: -0.6rem;
  }
  #right {
    right: -0.6rem;
    top: -0.6rem;
  }
  #bottom {
    right: -0.6rem;
    bottom: -0.6rem;
  }



}
